div{
  button{
    img{margin-left:15px;}
    gap: 20px;
    color: #78350F;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 30px 10px ;
    border-radius: 30px;
    border: none;
    background-color: #FCD34D;
    white-space: nowrap;
  }
}