@import '../../Navbar/Navbar.scss';
main{
  background-color: #581C87;
  @include flex-center();
  flex-direction: column;
  padding: 1em;
  margin-top: 20px;
  overflow: hidden;
  height: fit-content
}
.upper-container{
  @include flex-center();
  text-align: center;
  flex-direction: column;
  color: white;
  padding: 1em;
  margin-bottom: 2em;
  width: fit-content;
  gap: 20px;
  button{margin: 0.6em; padding: 1em;}
  p:nth-child(1){color: #FCD34D;}
  .para-div > * {margin-top: 0.7em;}
}

.card-big-container{
  gap: 20px;
  width: 100%;
  @include flex-center();
  flex-direction: column;
  .card-container{
    background-color: white; 
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    @include flex-center();
    flex-direction: column;
    & > img{width: 3rem; margin-right: auto; padding: 0.4em;}
    & > p{max-width: 40ch;padding: 0.4em;}
    padding: 1.5em;
   }
}
.swiper-pagination-bullet{
  background-color: #FCD34D;
  width: 11px;
  height: 11px;
  transition: all 0.3s ease-in-out;
}
.swiper-pagination-bullet-active{
  height: 13px;
  width:  20px;
}
.swiper-pagination-bullet:hover{background-color: white;}
.swiper-pagination-bullet:active{background-color: #ffc400;}
.swiper-button-next, .swiper-button-prev{
  color: #FCD34D;
}

.user-card{
  @include flex-center();
  text-align: start;
  flex-direction: row;
  margin: 0; 
  margin-right: auto;
 img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
 }
 &.para-div{
  margin-left: 15px;
  display: flex;
  align-items: start;
  flex-direction: column;
  p:nth-child(1){
    font-size: 14px;
    font-weight: 500;
  }
  p:nth-child(2){
    font-size: 12px;
    font-weight: 400;
    color: gray;
  }
 }    
}

@media(min-width:600px){
  .upper-container {
    flex-direction: row;
    text-align: start;
    .para-div{font-size: smaller;}
    button{padding: 0.6em; font-size: 1em;}
  }
  .card-big-container{
     
    .card-container{
      max-width: fit-content;
      & > img{}
      & > p{max-width: 60ch;}
      
     }

  }
}