body{
  font-family: 'Roboto', sans-serif;
    
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin reset-margin-padding{
  margin: 0;
  padding: 0;
}

/*---COLORS---*/
$primary-color: #FCD34D;

*{
  @include reset-margin-padding();
}

nav{
  display: flex;
  align-items: center;
  padding: 10px;
 
  h1{
    font-size: 2.5rem;
  }

  form{
    @include flex-center();
    flex-direction: column;
    position: fixed;
    background-color: #b68c00;
    top: 10px;
    right: -300px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    *{color: white;}
    transition: all 0.3s ease-in-out ;
    
    
    ul{
      list-style-type: none;
      padding: 1em;
      
      li{
        margin-bottom: 15px;
      }
      
        li a{
          text-decoration: none;
          
        }
    }
    .nav-button-div{
      
      *{
        @include flex-center();
        cursor: pointer;
        
      }
      @include flex-center();
      flex-direction: column;
      padding: 10px;
      gap: 20px;
      button:nth-child(1){
       background: none;
        flex-direction: column;
        border: none;
        img{width: 25px;}  
      }
      button:nth-child(2){
        display: flex;
      }
      
    }
  }
  .open{
    right: 10px;
    z-index: 2;
  }
  #hamburger-open{position: fixed; right: 10px; z-index: 2; background: none;}
}

.hamburger{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  cursor: pointer;
  margin-left: auto;
  background-color: $primary-color;
  border-radius: 50%;
  padding: 0.8em;
  width: 24px;
  height: 24px;


  span{
    display: block;
    width: 24px;
    height: 2.4px;
    border-radius: 5px;
    background-color: #78350F;
    z-index: 2;
  }

}

@media(min-width:  600px){
  .nav{
    padding: 1em;
    
    &__div{
      max-width: fit-content;
      display: flex;
      
    }
    
    form{
      position: static;
      flex-direction: row;
      background: none;
      *{color: black;}
      box-shadow: none;
      max-width: fit-content;
      ul{
        display: flex;
        gap: 20px;
      }
      .nav-button-div{
        flex-direction: row;
        max-width: fit-content;
        gap: 20px;
        @include reset-margin-padding();
        button:nth-child(1){
          gap: 10px;
          flex-direction: row;
          white-space: nowrap;
          font-size: 1em;
          @include reset-margin-padding();
          img{width: 20px;}
        }
        button:nth-child(2){gap: 0; font-size: 0.8em; max-width: 20vw; margin: 0;}
    
      }
    }
  }
  .hamburger{display: none;}

}



